<!-- Formulário de Adição -->
<div *ngIf="productAction?.event?.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column gap-3 p-4">
      <input
        pInputText
        placeholder="Nome"
        formControlName="name"
        class="w-full"
      />
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
      >
      </p-dropdown>
      <input
        pInputText
        placeholder="Preço"
        formControlName="price"
        class="w-full"
      />
      <input
        pInputText
        placeholder="Descrição"
        formControlName="description"
        class="w-full"
      />
      <input
        pInputText
        placeholder="Quantidade"
        formControlName="amount"
        class="w-full"
      />
      <div
        class="flex flex-row justify-content-center align-content-center align-items-center m-1"
      >
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- Formulário de Edição -->
<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column gap-3 p-4">
      <input
        pInputText
        placeholder="Nome"
        formControlName="name"
        class="w-full"
      />
      <div *ngIf="renderDropdown">
        <p-dropdown
          styleClass="w-full"
          [options]="categoriesDatas"
          [(ngModel)]="selectedCategory"
          optionLabel="name"
          optionValue="id"
          formControlName="category_id"
        >
        </p-dropdown>
      </div>
      <input
        pInputText
        placeholder="Preço"
        formControlName="price"
        class="w-full"
      />
      <input
        pInputText
        placeholder="Descrição"
        formControlName="description"
        class="w-full"
      />
      <input
        pInputText
        type="number"
        placeholder="Quantidade"
        formControlName="amount"
        class="w-full"
      />
      <div
        class="flex flex-row justify-content-center align-content-center align-items-center m-1"
      >
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="productAction?.event?.action === saleProductAction">
  <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitSaleProduct()">
    <div class="card flex flex-column gap-3 p-4">
      <p-dropdown
        [options]="productsDatas"
        styleClass="w-full"
        [(ngModel)]="saleProductSelected"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione um produto"
        formControlName="product_id"
        [filter]="true"
        [panelStyle]="{ 'max-height': '200px', 'overflow-y': 'auto' }"
      ></p-dropdown>

      <input
        type="number"
        pInputText
        placeholder="Quantidade"
        formControlName="amount"
      />
      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!saleProductForm.valid"
          type="submit"
          label="Concluir"
        >
        </p-button>
      </div>
    </div>
  </form>
</div>
